@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: hsl(39 67% 84%);
		--foreground: hsl(40 81% 21%);
		--card: hsl(40 60% 86%);
		--card-foreground: hsl(37 77% 22%);
		--popover: hsl(40 60% 86%);
		--popover-foreground: hsl(37 77% 22%);
		--primary: hsl(54 30% 41%);
		--primary-foreground: hsl(347 100% 98%);
		--secondary: hsl(39 52% 80%);
		--secondary-foreground: hsl(38 49% 34%);
		--muted: hsl(39 54% 77%);
		--muted-foreground: hsl(36 48% 34%);
		--accent: hsl(40 46% 78%);
		--accent-foreground: hsl(340 16% 15%);
		--destructive: hsl(3 95% 55%);
		--border: hsl(37 33% 63%);
		--input: hsl(37 33% 63%);
		--ring: hsl(36 48% 34%);
		--chart-1: hsl(20 85% 52%);
		--chart-2: hsl(174 73% 41%);
		--chart-3: hsl(188 79% 26%);
		--chart-4: hsl(45 98% 53%);
		--chart-5: hsl(32 93% 51%);
		--sidebar: hsl(40 57% 78%);
		--sidebar-foreground: hsl(40 81% 21%);
		--sidebar-primary: hsl(340 16% 15%);
		--sidebar-primary-foreground: hsl(347 100% 98%);
		--sidebar-accent: hsl(40 46% 73%);
		--sidebar-accent-foreground: hsl(340 16% 15%);
		--sidebar-border: hsl(0 0% 88%);
		--sidebar-ring: hsl(0 0% 63%);

		--font-sans: Nunito, sans-serif;
		--font-serif: PT Serif, serif;
		--font-mono: JetBrains Mono, monospace;

		--radius: 0.625rem;

		--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
		--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
		--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
		--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
		--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
		--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

	}

	.dark {
		--background: 23 18% 9%;
		--foreground: 37 55% 81%;
		--card: 20 13% 13%;
		--card-foreground: 37 55% 81%;
		--popover: 20 13% 13%;
		--popover-foreground: 37 55% 81%;
		--primary: 69 13% 40%;
		--primary-foreground: 347 100% 98%;
		--secondary: 27 17% 20%;
		--secondary-foreground: 39 52% 80%;
		--muted: 15 10% 15%;
		--muted-foreground: 37 33% 63%;
		--accent: 27 17% 20%;
		--accent-foreground: 40 46% 78%;
		--destructive: 3 95% 55%;
		--border: 27 17% 20%;
		--input: 27 17% 20%;
		--ring: 69 13% 50%;
		--chart-1: 20 85% 52%;
		--chart-2: 174 73% 41%;
		--chart-3: 188 79% 26%;
		--chart-4: 45 98% 53%;
		--chart-5: 32 93% 51%;
		--sidebar: 27 16% 11%;
		--sidebar-foreground: 37 55% 81%;
		--sidebar-primary: 69 13% 50%;
		--sidebar-primary-foreground: 347 100% 98%;
		--sidebar-accent: 27 17% 20%;
		--sidebar-accent-foreground: 40 46% 78%;
		--sidebar-border: 27 17% 20%;
		--sidebar-ring: 69 13% 50%;

		--shadow-2xs: 0 1px 3px 0px 0 0% 0% / 0.05;
		--shadow-xs: 0 1px 3px 0px 0 0% 0% / 0.05;
		--shadow-sm: 0 1px 3px 0px 0 0% 0% / 0.10), 0 1px 2px -1px 0 0% 0% / 0.10;
		--shadow: 0 1px 3px 0px 0 0% 0% / 0.10), 0 1px 2px -1px 0 0% 0% / 0.10;
		--shadow-md: 0 1px 3px 0px 0 0% 0% / 0.10), 0 2px 4px -1px 0 0% 0% / 0.10;
		--shadow-lg: 0 1px 3px 0px 0 0% 0% / 0.10), 0 4px 6px -1px 0 0% 0% / 0.10;
		--shadow-xl: 0 1px 3px 0px 0 0% 0% / 0.10), 0 8px 10px -1px 0 0% 0% / 0.10;
		--shadow-2xl: 0 1px 3px 0px 0 0% 0% / 0.25;
	}

	@theme inline {
		--color-background: var(--background);
		--color-foreground: var(--foreground);
		--color-card: var(--card);
		--color-card-foreground: var(--card-foreground);
		--color-popover: var(--popover);
		--color-popover-foreground: var(--popover-foreground);
		--color-primary: var(--primary);
		--color-primary-foreground: var(--primary-foreground);
		--color-secondary: var(--secondary);
		--color-secondary-foreground: var(--secondary-foreground);
		--color-muted: var(--muted);
		--color-muted-foreground: var(--muted-foreground);
		--color-accent: var(--accent);
		--color-accent-foreground: var(--accent-foreground);
		--color-destructive: var(--destructive);
		--color-border: var(--border);
		--color-input: var(--input);
		--color-ring: var(--ring);
		--color-chart-1: var(--chart-1);
		--color-chart-2: var(--chart-2);
		--color-chart-3: var(--chart-3);
		--color-chart-4: var(--chart-4);
		--color-chart-5: var(--chart-5);
		--color-sidebar: var(--sidebar);
		--color-sidebar-foreground: var(--sidebar-foreground);
		--color-sidebar-primary: var(--sidebar-primary);
		--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
		--color-sidebar-accent: var(--sidebar-accent);
		--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
		--color-sidebar-border: var(--sidebar-border);
		--color-sidebar-ring: var(--sidebar-ring);

		--font-sans: var(--font-sans);
		--font-mono: var(--font-mono);
		--font-serif: var(--font-serif);

		--radius-sm: calc(var(--radius) - 4px);
		--radius-md: calc(var(--radius) - 2px);
		--radius-lg: var(--radius);
		--radius-xl: calc(var(--radius) + 4px);

		--shadow-2xs: var(--shadow-2xs);
		--shadow-xs: var(--shadow-xs);
		--shadow-sm: var(--shadow-sm);
		--shadow: var(--shadow);
		--shadow-md: var(--shadow-md);
		--shadow-lg: var(--shadow-lg);
		--shadow-xl: var(--shadow-xl);
		--shadow-2xl: var(--shadow-2xl);
	}
}
