html, body, #__nuxt {
    height: 100%;
}

#__nuxt {
    display: flex;
    flex-direction: column;
}

body {
    background: #3c3737;
    color: #f9f0f0;
    font-family: 'Nunito Sans Variable', sans-serif;
}

nav {
    list-style: none;
}

.border {
    border-color: #7b7373;
}